body {
  background: #23719F;
}

.list {
  background-color: #E3E3E3;
  border-radius: 3px;
  margin: 5px 5px;
  padding: 10px;
  width: 260px;
  float: left;
}

.list>header {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.list .card {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  padding: 6px 8px;
  cursor: pointer;
}
