body {
  background: #23719F;
}

.list{
  background-color: #E3E3E3;
  border-radius: 3px;
  margin: 5px 10px;
  padding: 10px;
  width: 260px;
  float: left;
}

/*.bottom{
  background-color: inherit;
  border-radius: inherit;
  margin: inherit;
  padding: inherit;
  width: inherit;
  float: inherit;
}*/

.list>header {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.list .card {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  margin: 10px 0;
  padding: 6px 8px;
  cursor: pointer;
}

.ui-sortable-placeholder {
    border: 3px dashed #aaa;
    height: 177px;
    width: 260px;
    background: #ccc;
}
